{{ define "base" }}
<!DOCTYPE html>
    {{ template "header" .}}
    <body>
        <nav>
            <ul>
                <li><a href="/">Start</a></li>
                <li><a href="/page/project1.md">The Long Journey</a></li>
                <li><a href="/page/project2.md">Musikplayer</a></li>
                <li><a href="/page/project3.md">Signaltrainer</a></li>
                <li><a href="/page/project4.md">Vier Gewinnt mit KI - Gegner</a></li>
                <li><a href="/page/project5.md">Dieses Portfolio</a></li>
            </ul>
        </nav>       
        <div class = main-container>
            {{ template "content" . }}
        </div>
        {{ template "footer" }}
    </body>
</html>
{{ end }}