{{define "content"}}
<h1>Herzlich Willkommen in meinen Projekten</h1>
<div class="grid-container">
    <div class = "grid-item">
        <div class = "grid-text">
            <div class = "title">
                <h2>Über Mich</h2>
            </div>            
            <p>Mein Name ist Daniel Adam und ich bin momentan ein Student der Medieninformatik im fünften Semester. Ich studiere an der Hochschule Harz in Wernigerode seit dem Jahr 2020. In den folgenden Seiten werden Sie einen Einblick in meine momentanen und abgeschlossenen Projekte erhalten und welchen Teil ich zu dem Endergebnis beigetragen habe.</p>  
        </div>       
    </div>
    <div class = "grid-item">
        <img src="../img/daniel_adam_m29062.JPG" alt="me in first semester">
    </div>
    <div class = "grid-item">
        <div class="grid-text">
            <div class="title">
                <h2>Vorgestellte Projekte</h2>
            </div>
            <ul>
                <li><strong>Projekt 1:</strong> The Long Journey</li>
                <br>
                <li><strong>Projekt 2:</strong> Musikplayer</li>
                <br>
                <li><strong>Projekt 3:</strong> Datenbankanwendung</li>
                <br>
                <li><strong>Projekt 4:</strong> Vier Gewinnt mit KI - Gegner</li>
                <br>
                <li><strong>Projekt 5:</strong> Diese Website</li>
            </ul>
        </div>

    </div>   
</div>

{{end}}